    <!-- Footer
    ================================================== -->
    <div class="row">
      <div class="span12">
        <hr>

        <footer id="footer">
            <p class="pull-right"><a href="#top">Back to top</a>
                <br />
                <br />
                <br />
                <a href="http://www.crcpress.com">
                    <img src="{{ site.baseurl }}/img/Chapman_logo.png" alt="Chapman and Hall Logo" width="80" height="30">
                </a>
            </p>
            <p>&copy; {{ site.title }} 2015</p>
            <div class="links">
              <a href="http://www.unavarra.es/personal/lugarte/indexfotoingles.htm">Lola's Homepage</a>
              <a href="mailto:lola@unavarra.es">Lola's Email</a>
              <a href="http://www.unavarra.es/personal/amilitino/indexfotoingles.htm">Ana's Homepage</a>
              <a href="mailto:militino@unavarra.es">Ana's Email</a>
              <a href="https://alanarnholt.github.io/web/">Alan's Homepage</a>
              <a href="mailto:arnholtat@appstate.edu">Alan's Email</a>
            </div>
            <br>
            The site is based on <a href="http://twitter.github.com/bootstrap/">Bootstrap</a> and <a href="http://bootswatch.com/cosmo/">Bootswatch Cosmo</a>.
        </footer>
      </div>
    </div>
    </div>

    <br><br>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.scrollspy.js"></script>
    <script src="{{ site.baseurl }}/js/smooth-scroll.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.scrollspy.js"></script>
    <script src="{{ site.baseurl }}/js/bootswatch.js"></script>
    <!-- Code syntax highlighting -->
    <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>

  </body>
</html>
