    <!-- Footer
    ================================================== -->
    <div class="row">
      <div class="span12">
        <hr>

        <footer id="footer">
            <p class="pull-right"><a href="#top">Back to top</a></p>
            <p>&copy; {{ site.title }} 2015</p>
            <div class="links">
              <a href="http://www.unavarra.es/personal/lugarte/indexfotoingles.htm">Lola's Homepage</a>
              <a href="mailto:lola@unavarra.es">Lola's Email</a>
              <a href="http://www1.appstate.edu/~arnholta/">Alan's Homepage</a>
              <a href="mailto:arnholtat@appstate.edu">Alan's Email</a>
            </div>
            <br>
            The site is based on <a href="http://twitter.github.com/bootstrap/">Bootstrap</a> and <a href="http://bootswatch.com/cosmo/">Bootswatch Cosmo</a>.
        </footer>
      </div>
    </div>
    </div>

    <br><br>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.scrollspy.js"></script>

  </body>
</html>