<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.title }}">
    <meta name="author" content="{{ site.author }}">

    <!-- Bootstrap -->
    <link href="{{ site.baseurl }}/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="{{ site.baseurl }}/css/bootstrap-responsive.min.css" rel="stylesheet">
  </head>

  <body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80">