  {% include head.html %}

    {% include header.html %}

    <div class="container">

    <!-- Masthead
    ================================================== -->
    <br><br>
    <header class="jumbotron subhead" id="overview">
      <div class="row">
        <div class="span12">
          <h1>Probability and Statistics with R</h1>
          <br>
          <h2>2nd Edition</h2>
          <p class="pull-right lead">
           <a href="http://www.crcpress.com/">Chapman &amp; Hall/CRC Press</a><br>
          </p>
          <p class="lead">Maria Ugarte, Ana Militino, Alan Arnholt</p>
        </div>
      </div>

      <div class="row">
        <div class="span12">
          <div class="subnav affix-top" data-spy="affix" data-offset-top="440">
            <ul class="nav nav-pills">
              <li><a href="#overview">Overview</a></li>
              <li><a href="#who">Who Should Read It</a></li>
              <li><a href="#purchase">Purchase</a></li>
              <li><a href="#supplement">Supplementary Materials</a></li>
              <li><a href="#author">Author</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <br><br><br>

    {{content}}

    {% include footer.html %}