  {% include head.html %}

    {% include header.html %}

    <div class="container">

    <!-- Masthead
    ================================================== -->
    <header class="jumbotron subhead" id="overview">
      <div class="row">
        <div class="span12">
          <h1>Probability and Statistics with R</h1>
          <br />
          <h2>Second Edition</h2>
        </div>
      </div>
      <div class="row">
        <div class="span9">
          <p class="lead">Mar&iacute;a Dolores Ugarte, Ana F. Militino, and Alan T. Arnholt</p>
        </div>
        <div class="span2 offset1">
          <p>
            <a href="http://www.crcpress.com">
              <img src="{{ site.baseurl }}/img/Chapman_logo.png" alt="Chapman and Hall Logo" width="150" height="100" />
            </a>
          </p>
          <br />
        </div>
      </div>

      <div class="row">
        <div class="span12">
          <div class="subnav">
            <ul class="nav nav-pills">
              {% if page.active == "home" %}
              <li><a href="#overview">Overview</a></li>
              <li><a href="#toc">Table of Contents</a></li>
              <li><a href="#purchase">Purchase</a></li>
              <li><a href="#author">Authors</a></li>
              {% else %}
              <li><a href="{{ site.baseurl }}/">Home</a></li>
              {% endif %}
              <li><a href="{{ site.baseurl }}/supplement.html">Supplementary Materials</a></li>
              <li><a href="{{ site.baseurl }}/errata.html">Errata</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    {{content}}

    {% include footer.html %}
